.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #FF8080;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Selected menu item */
.my_menu .ant-menu-item-selected {
  background-color: #FB6B6B !important;
  color: #ffffff !important;
  border-bottom: none !important; /* No underline for active */
  position: relative; /* Needed for the ::after pseudo-element */
}

/* Default menu item */
.my_menu .ant-menu-item {
  color: #ffffff; /* Default text color */
  transition: all 0.5s ease;
  position: relative; /* Needed for the ::after pseudo-element */
  font-family: "Poppins", serif;
}

.my_menu .ant-menu-item:hover {
  background-color: #FB6B6B !important;
}

